{% extends 'todo/base.html' %}

{% block home-url %}{% url 'home' %}{% endblock %}
{% block create-url %}{% url 'createtodo' %}{% endblock %}
{% block current-url %}{% url 'currenttodos' %}{% endblock %}
{% block completed-url %}#!{% endblock %}

{% block completed-active %}class="active"{% endblock %}

{% block content %}

<div class="container center completed-header">
    Tasks Well Done!
</div>

<div class="container">
    {% for todo in todos %}
    <div class="card-panel {% if todo.important %}imp-{% endif %}todo-card">
        <i class="material-icons left light-green-text text-accent-4">check_circle</i>
        <a href="{% url 'viewtodo' todo.id %}">
            <span class="grey-text"><s>
            {{ todo.title }}
            {% if todo.memo %}
                - {{ todo.memo }}
            {% endif %}
            </s></span>
        </a>
        <span class="right ubuntu-font grey-text">{{ todo.datecompleted|date:'jS b Y | H:i' }}</span>
    </div>
    {% endfor %}
</div>

{% endblock %}
