{% extends 'todo/base.html' %}

{% block home-url %}{% url 'home' %}{% endblock %}
{% block create-url %}{% url 'createtodo' %}{% endblock %}
{% block current-url %}#!{% endblock %}
{% block completed-url %}{% url 'completedtodos' %}{% endblock %}

{% block current-active %}class="active"{% endblock %}

{% block content %}

<div class="container">
    {% for todo in todos %}
    <div class="card-panel {% if todo.important %}imp-todo{% else %}todo{% endif %}-card">
        <a href="{% url 'viewtodo' todo.id %}">
            {{ todo.title }}
            {% if todo.memo %}
                - {{ todo.memo }}
            {% endif %}
        </a>
        {% if todo.important %}
        <i class="material-icons right red-text">new_releases</i>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}