{% extends 'todo/base.html' %}

{% block home-url %}{% url 'home' %}{% endblock %}
{% block create-url %}{% url 'createtodo' %}{% endblock %}
{% block current-url %}#!{% endblock %}
{% block completed-url %}{% url 'completedtodos' %}{% endblock %}

{% block current-active %}class="active"{% endblock %}

{% block content %}

<div class="container">
    {% if todos %}
    {% for todo in todos %}

    <div class="card-panel {% if todo.important %}imp-{% endif %}todo-card">
        <a href="{% url 'viewtodo' todo.id %}">
            {{ todo.title }}
            {% if todo.memo %}
                - {{ todo.memo }}
            {% endif %}
        </a>
        {% if todo.important %}
        <i class="material-icons right">new_releases</i>
        {% endif %}
    </div>
    {% endfor %}

    {% else %}

    <div class="quote-container">
        <div class="quote-content center">
            <h3>"{{ time_quote.quote|safe }}"</h3>
        </div>
        <div class="quote-speaker right">
            <h5>- {{ time_quote.speaker }}</h5>
        </div>
    </div>

    <div class="center">
        <h6>You have no pending tasks!<br><br>Great job!</h6>
    </div>
    <br><hr><br>

    {% endif %}
</div>

{% endblock %}

{% block script-block %}
{% if message %}
    $(document).ready(function(){
        M.toast({html: '{{ message }}', displayLength: 2000, classes: 'white-text green'});
    });
{% endif %}
{% endblock %}
