{% extends 'todo/base.html' %}

{% block home-url %}{% url 'home' %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card-panel todo-card z-depth-3">
                <div class="container-fluid center specialelite-font">
                    <h1>Sign Up</h1>
                </div>
                
                <div class="container-fluid">
                    <div class="row">
                        <form class="col s12" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">account_box</i>
                                    {{ form.username }}
                                    <label for="id_username">Username</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">vpn_key</i>
                                    {{ form.password1 }}
                                    <label for="id_password1">Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">vpn_key</i>
                                    {{ form.password2 }}
                                    <label for="id_password2">Re-enter Password</label>
                                    <span class="helper-text">Passwords should match</span>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="col s12">
                                    <button type="submit" class="btn home-btn btn-large">Sign Up<i class="material-icons right">person_add</i></button>&emsp;
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script-block %}
{% if error %}
    $(document).ready(function(){
        M.toast({html: '{{ error }}', displayLength: 2000, classes: 'white-text error-toast'});
    });
{% endif %}
{% endblock %}