{% extends 'todo/base.html' %}

{% block home-url %}{% url 'home' %}{% endblock %}
{% block create-url %}{% url 'createtodo' %}{% endblock %}
{% block current-url %}{% url 'currenttodos' %}{% endblock %}
{% block completed-url %}{% url 'completedtodos' %}{% endblock %}

{% block content %}

<div class="container center">
    <h1 class="specialelite-font">{{ todo.title }}</h1>
    {% if todo.datecompleted%}
    <h2 class="remachine-font light-green-text text-accent-4">Completed&nbsp;<i class="material-icons">check_circle</i></h2>
    {% endif %}
</div>

<div class="container">
    <div class="row">
        <form class="col s12" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    {{ form.title }}
                    <label for="id_title">Task Title*</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form.memo }}
                    <label for="id_memo">Task Details</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label>
                        {{ form.important }}
                        <span class="imp-btn">Important</span>
                    </label>
                </div>
            </div>
            <br><br>
            <div class="row center">
                <div class="col s12">
                    <button type="submit" class="btn create-btn btn-large">Update<i class="material-icons right">update</i></button>&emsp;
                    {% if todo.datecompleted is None %}
                    <button type="button" onclick="$('#complete_btn').click()" class="btn complete-btn btn-large">Complete<i class="material-icons right">done</i></button>&emsp;
                    {% endif %}
                    <button type="button" onclick="$('#delete_btn').click()" class="btn delete-btn btn-large">Delete<i class="material-icons right">delete_forever</i></button>
                </div>
            </div>
        </form>
    </div>
</div>

{% if todo.datecompleted is None %}
<form method="POST" class="invis-form" action="{% url 'completetodo' todo.id %}">
    {% csrf_token %}
    <button type="submit" id="complete_btn">Mark Complete</button>
</form>
{% endif %}

<form method="POST" class="invis-form" action="{% url 'deletetodo' todo.id %}">
    {% csrf_token %}
    <button type="submit" id="delete_btn">Delete</button>
</form>


{% endblock %}

{% block script-block %}
{% if error %}
    $(document).ready(function(){
        M.toast({html: '{{ error }}', displayLength: 2000, classes: 'white-text error-toast'});
    });
{% endif %}
{% endblock %}