{% extends 'todo/base.html' %}

{% block home-url %}{% url 'home' %}{% endblock %}
{% block create-url %}{% url 'createtodo' %}{% endblock %}
{% block current-url %}{% url 'currenttodos' %}{% endblock %}
{% block completed-url %}{% url 'completedtodos' %}{% endblock %}

{% block content %}

<h1>{{ todo.title }}</h1>

<h2>{{ error }}</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update To Do</button>
</form>

<form method="POST" action="{% url 'completetodo' todo.id %}">
    {% csrf_token %}
    <button type="submit">Mark Complete</button>
</form>

<form method="POST" action="{% url 'deletetodo' todo.id %}">
    {% csrf_token %}
    <button type="submit">Delete</button>
</form>


{% endblock %}