body {
    background-color: #121212 !important;
    color: #ffffff !important;
}

.nav-wrapper {
    background-color: #383838 !important;
}

.dropdown-content {
    background-color: #383838 !important;
    color: #ffffff !important;
}

.nav-wrapper ul li {
    color: #ffffff !important;
}

.dropdown-content li:hover {
    background-color: #323232 !important;
}

.dropdown-content li a {
    color: #ffffff !important;
}

.theme-text {
    color: #ffffff !important;
}

.home-btn:hover {
    background-color: #5800d6 !important;    
}

.home-btn {
    background-color: #6200ee !important;    
}

nav ul li.active, nav ul li.active:hover {
    background-color: #6200ee !important;
}

.todo-card {
    background-color: #1e1e1e !important;;
}

.todo-card a, .imp-todo-card a, .todo-card i, .imp-todo-card i {
    color: #ffffff !important
}

.imp-todo-card {
    background-color: #6200ee !important;
}

input[type="text"]:focus, textarea.materialize-textarea:focus {
    border-bottom: 1px solid #6200ee !important;
    box-shadow: 0 1px 0 0 #6200ee !important;
}

input[type="text"]:focus + label, textarea.materialize-textarea:focus + label {
    color: #6200ee !important;
}

[type="checkbox"]:checked + span:not(.lever)::before {
    border-right: 4px solid #6200ee !important;
    border-bottom: 4px solid #6200ee !important;
}

.input-field > label .active {
    color: #9e9e9e !important;
}

input[type="text"], textarea.materialize-textarea {
    color: #ffffff !important;
}