@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Montserrat.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Special Elite';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Special_Elite.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'GreatVibes';
    src: url('../fonts/GreatVibes-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'UbuntuTitle';
    src: url('../fonts/Ubuntu-Title.ttf') format("truetype");
}

@font-face {
    font-family: 'HarryPotter';
    src: url('../fonts/HP.ttf') format("truetype");
}

@font-face {
    font-family: 'RemachineScript';
    src: url('../fonts/RemachineScript.ttf') format("truetype");
}

@font-face {
    font-family: 'Conspiracy';
    src: url('../fonts/CONSPIRA.TTF') format("truetype");
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MaterialIcons.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Montserrat';
}

.ubuntu-font {
    font-family: 'UbuntuTitle';
}

.brand-logo {
    font-family: 'HarryPotter' !important;
}

.theme-text {
    font-size: medium !important;
}

.remachine-font {
    font-family: 'RemachineScript';
}

.navbar-brand {
    padding: 0;
}

.navbar-nav .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    height: 50px;
    line-height: 50px;
}

.switch label input[type="checkbox"]:checked + .lever:after {
    background-image: url("../img/dark.png");
    background-size: cover;
    background-color: #000000;
}

.switch label input[type="checkbox"]:checked + .lever {
    background-color: #000000 !important;
}

.switch label input[type="checkbox"]:not(:checked) + .lever:after {
    background-image: url("../img/light.png");
    background-size: cover;
    background-color: #ffff00;
}

.switch label input[type="checkbox"]:not(:checked) + .lever {
    background-color: #add8e6;
}

.rotate{
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.rotate.down{
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.quote-container {
    height: 430px;
    vertical-align: middle;
    display: table-cell;
}

.quote-content {
    font-family: 'Conspiracy' !important;
}

.quote-speaker {
    font-family: 'Special Elite' !important;
}

nav form {
    height: auto !important;
}

.card-panel {
    border-radius: 7px !important;
}

.completed-header {
    font-family: 'Special Elite';
    font-size: xx-large;
    padding-top: 0;
}